.breadcrumb{
    padding:20px 0;
    margin-left: 40px;
    .wrapper {
        ul {
            li{
                display: inline-block;
                font-size:12px;
                text-transform: uppercase;
                color: $grey-1;
                &:after{
                    content:'/';
                }
                &:last-child{
                    &:after{
                        display: none;
                    }
                }
                a{
                    color:$grey-3;
                    transition: all 0.1s;
                    &:hover{
                        color: $grey-1;
                    }
                }
            }
        }
    }
}