.collections {
    position: relative;
    top: 100px;
    text-align: center;
    .wrapper{
        h2{
            position: relative;
            bottom: 50px;
            transform: translateY(50%);
            font-size: 27px;
            font-weight: 300;
        }
        .grid-container{
            max-width: 1180px;
            margin: 0 auto;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr; 
            grid-template-rows: 295px 295px 295px; 
            margin-bottom: 70px;
            .item1{
                grid-row-start: 1;
                grid-row-end: 3;
            }
            .item7{
                grid-row-start: 2;
                grid-row-end: 4;
                grid-column-start: 4;
                grid-column-end: 5;
            }
            div{
                position: relative;
                text-align: center;
                a{
                    h3{
                        margin: 0 auto;
                        width: 100%;
                        font-size: 22px;
                        font-weight: 200;
                        color: $dark-color;
                        text-transform: uppercase;
                        letter-spacing: 1px;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
            }
        }
    }
}