.newsletter{
    text-align: center;
    margin-bottom: 50px;
    .wrapper{
        h3{
            font-size: 27px;
            font-weight: 300;
            margin-bottom: 5px;
        }
        p{
            font-size: 17px;
            font-weight: 200;
            margin-bottom: 20px;
        }
        input{
            display: inline-block;
            width: 515px;
            height: 50px;
            border: 1px solid $grey-3;
        }
        a{
            i{
                color: $light-color;
                font-size: 50;
                background-color: $secondary-color;
                padding: 17px;
                vertical-align: middle;
                transition: all 0.2s;
                &:hover{
                    background-color: $secondary-light;
                    padding: 15px;
                }
            }
        }
    }
}