.product{
    .wrapper{
        max-width: 100%;
        .productOne{
            margin-bottom: 30px;
            display: flex;
            width: 100%;
            @include mobile{
                display: block;
                text-align: center;
            }
            .image{
                width: 50%;
                height: 50%;
                position:relative;
                margin:0 auto;
                @include mobile{
                    width: 100%;
                }
                .big{
                    width: 100%;
                    @include mobile{
                        width: 350px;
                    }
                }
                ul{
                    position: absolute;
                    bottom: 0px;
                    right: 10px;
                    li{
                        margin:10px 0 10px 0; 
                        border:2px solid $light-color;
                        font-size: 0;
                        cursor: pointer;
                        transition: all 0.2s;
                        &:hover{
                            border:2px solid $primary-light;
                        }
                        img{
                            width: 100px !important;
                            @include mobile{
                                width: 70px !important;
                            }
                        }
                    }
                }
            }
            .earth-product{
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                h3{
                    font-size: 25px;
                    text-transform: uppercase;
                    margin-bottom: 10px;
                    @include mobile{
                        margin-top: 20px;
                    }
                }
                .price{
                    font-size: 20px;
                    margin-bottom: 70px;
                    @include mobile{
                        margin-bottom: 20px;
                    }
                }
                p{
                    color: $grey-2;
                    font-size: 18px;
                    margin-bottom: 70px;
                    margin-left: 20px;
                    @include mobile{
                        margin-left: 0;
                        font-size: 16px;
                        margin-bottom: 30px;
                    }
                }
                .size{
                    font-size: 18px;
                    text-transform: uppercase;
                    margin-bottom: 10px;
                }
                .size-info{
                    color: $dark-color;
                    margin-bottom: 30px;
                }
                .basket{
                    input[type="number"]{
                        padding: 12px 0;
                        width: 40px;
                        @include mobile{
                            padding: 11px 0;
                        }
                    }
                }
            }
        }
        hr{
            background-color: $grey-4;
            border: 0.5px $grey-4 solid;
        }
        h5{
            font-size: 18px;
            color: $grey-2;
            text-align: center;
            margin: 20px 0;
        }
        .other-items{
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;
            overflow: hidden;
            img{
                width: 250px;
                @include mobile{
                    width: 170px;
                    margin-bottom: 10px;
                }
            }
        }
        a{
            background-color: $dark-color;
            color: $light-color;
            margin: 20px 0;
            display: block;
            padding: 15px 0;
            max-width: 500px;
            text-align: center;
            position: relative;;
            left: 50%;
            transform: translateX(-50%);
            text-transform: uppercase;
            font-weight: 300;
            transition: all 0.2s;
            &:hover{
                background-color: $light-color;
                border: 0.5px solid $grey-2;
                color: $grey-2;
            }
        }
    }
}