// colors
$dark-color: #000;
$medium-dark-color: #242526;
$light-color: #fff;
$grey-1: #787878;
$grey-2: #909090;
$grey-3: #B6B6B6;
$grey-4: #E7E7E7;
$primary-color: #096464;
$primary-light: #218888; 
$secondary-color: #93241D;
$secondary-light: #a0423b;


// fonts
$poppins: 'Poppins', sans-serif;