@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

a {
  text-decoration: none; }

html, body {
  position: relative;
  height: 100%; }

/* Break Points */
html, body {
  font-family: "Poppins", sans-serif;
  background: #fff; }

section {
  padding: 0 2%; }

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  height: 100%; }
  @media (min-width: 0) and (max-width: 512px) {
    .wrapper {
      max-width: 95%;
      margin: 0 auto; } }

.btn-menu {
  position: relative;
  text-transform: uppercase;
  transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
  cursor: pointer;
  user-select: none; }
  @media (min-width: 0) and (max-width: 512px) {
    .btn-menu {
      display: none; } }
  .btn-menu:before, .btn-menu:after {
    content: '';
    position: absolute;
    transition: inherit; }
  .btn-menu:hover {
    color: #fff;
    transition-delay: .1s;
    z-index: 1; }
    .btn-menu:hover:before {
      transition-delay: 0s; }
    .btn-menu:hover:after {
      background: #242526;
      transition-delay: .1s;
      z-index: -1; }

.from-center:before {
  top: 0;
  left: 50%;
  width: 0;
  border: 1px solid #242526;
  border-left: 0;
  border-right: 0; }

.from-center:after {
  bottom: 0;
  left: 0;
  height: 0;
  width: 100%;
  background: #242526; }

.from-center:hover:before {
  left: 0;
  width: 100%; }

.from-center:hover:after {
  top: 0;
  height: 100%; }

.btn {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  color: #096464;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 15px 30px;
  cursor: pointer;
  transition: all 0.5s; }
  @media (min-width: 0) and (max-width: 512px) {
    .btn {
      font-size: 14px;
      border-bottom: solid 1px #096464;
      border-top: solid 1px #096464; } }
  .btn:hover {
    background-color: #fff;
    color: #218888;
    font-size: 15px; }

.btn-primary {
  font-size: 18;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
  font-size: 50;
  background-color: #096464;
  padding: 15px 30px 15px 30px;
  border: none;
  cursor: pointer;
  transition: all 0.2s; }
  .btn-primary:hover {
    background-color: #218888; }

.btn-secondary {
  font-size: 18;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
  font-size: 50;
  background-color: #93241D;
  padding: 15px 30px;
  border: none;
  cursor: pointer;
  transition: all 0.2s; }
  @media (min-width: 0) and (max-width: 512px) {
    .btn-secondary {
      font-size: 14px;
      padding: 13px 20px; } }
  .btn-secondary:hover {
    background-color: #a0423b;
    padding: 12px 27px; }

.flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; }

.title {
  font-size: 35px;
  letter-spacing: 2px;
  text-transform: uppercase; }

header .nav-bar {
  text-align: center;
  max-width: 700px; }
  @media (min-width: 0) and (max-width: 512px) {
    header .nav-bar {
      display: none; } }
  header .nav-bar img {
    width: 120px;
    position: relative;
    top: 20px; }
  header .nav-bar .nav {
    width: 800px;
    height: 100px;
    border-bottom: #E7E7E7 1px solid; }
    header .nav-bar .nav ul {
      display: flex;
      justify-content: space-between;
      position: relative;
      top: 40px; }
      header .nav-bar .nav ul li {
        padding: 5px 20px;
        color: #000;
        font-size: 13px; }
        header .nav-bar .nav ul li:hover {
          color: #fff; }
        header .nav-bar .nav ul li .icon-size {
          font-size: 11px; }
      header .nav-bar .nav ul .search-bar {
        vertical-align: middle;
        position: relative;
        top: -6px; }
        header .nav-bar .nav ul .search-bar:hover {
          color: #000; }
        header .nav-bar .nav ul .search-bar .search {
          display: inline; }
          header .nav-bar .nav ul .search-bar .search input {
            width: 120px;
            margin-left: 5px;
            padding: 3px 0; }
      header .nav-bar .nav ul .active {
        border-top: 1px solid #E7E7E7; }

@media (min-width: 512px) and (max-width: 2000px) {
  header .nav-mobile {
    display: none; } }

header .nav-mobile .bar {
  height: 70px;
  display: flex;
  align-items: center; }
  header .nav-mobile .bar li {
    margin: 0 10px; }
    header .nav-mobile .bar li a img {
      width: 70px; }
    header .nav-mobile .bar li i {
      font-size: 20px; }

header .nav-mobile .menu {
  display: none; }
  header .nav-mobile .menu ul {
    position: absolute;
    top: 50px;
    right: 20px;
    text-align: right;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 5;
    height: 115px;
    width: 100px; }
    header .nav-mobile .menu ul li {
      margin: 15px 10px 15px 0;
      text-transform: uppercase; }
      header .nav-mobile .menu ul li a {
        color: #fff;
        font-weight: 300;
        border-bottom: 1px solid #fff; }

header .nav-mobile .active {
  display: block; }

header .nav-mobile .menu-ham {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 30px;
  border: none;
  outline: none;
  background-color: #f5f5f5; }
  header .nav-mobile .menu-ham span {
    display: block;
    width: 35px;
    height: 3px;
    background-color: #000;
    position: absolute;
    top: 15px;
    right: 2px;
    transition: all 0.2s; }
    header .nav-mobile .menu-ham span:before {
      content: '';
      position: absolute;
      top: -10px;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: #000;
      transition: all 0.2s; }
    header .nav-mobile .menu-ham span:after {
      content: '';
      position: absolute;
      top: 10px;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: #000;
      transition: all 0.2s; }
  header .nav-mobile .menu-ham.toggle span {
    background: transparent; }
    header .nav-mobile .menu-ham.toggle span:before {
      top: 0;
      transform: rotate(45deg); }
    header .nav-mobile .menu-ham.toggle span:after {
      top: 0;
      transform: rotate(-45deg); }

.hero {
  text-align: center; }
  .hero .wrapper {
    position: relative; }
    .hero .wrapper .slider div img {
      max-width: 100%;
      height: 100%; }
    .hero .wrapper article {
      width: 100%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%); }
      @media (min-width: 0) and (max-width: 512px) {
        .hero .wrapper article {
          position: relative;
          top: 40px; } }
      .hero .wrapper article h1 {
        color: #fff;
        font-size: 50px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 4px;
        margin: 15px 0; }
        @media (min-width: 0) and (max-width: 512px) {
          .hero .wrapper article h1 {
            font-size: 25px;
            letter-spacing: 2px;
            color: #000;
            margin: 50px auto 10px auto; } }
      .hero .wrapper article p {
        color: #fff;
        font-size: 25px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin: 15px 0 46px 0; }
        @media (min-width: 0) and (max-width: 512px) {
          .hero .wrapper article p {
            color: #000;
            font-size: 14px;
            letter-spacing: 2px;
            margin: 0 auto 20px auto; } }

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  font-size: 20px;
  cursor: pointer;
  color: #B6B6B6;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: #E7E7E7; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -5px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 50px;
      width: 50px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 30px;
        line-height: 20px;
        text-align: center;
        color: #fff;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: #fff;
      opacity: 0.9; }

.collections {
  text-align: center; }
  @media (min-width: 0) and (max-width: 512px) {
    .collections {
      max-width: 100%; } }
  .collections .wrapper h2 {
    font-size: 27px;
    font-weight: 300;
    margin-bottom: 40px; }
    @media (min-width: 0) and (max-width: 512px) {
      .collections .wrapper h2 {
        display: none; } }
  .collections .wrapper .grid-container {
    max-width: 1180px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 295px 295px 295px;
    margin-bottom: 50px; }
    @media (min-width: 0) and (max-width: 512px) {
      .collections .wrapper .grid-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        margin-bottom: 20px; } }
    .collections .wrapper .grid-container .item1 {
      grid-row-start: 1;
      grid-row-end: 3; }
    @media (min-width: 0) and (max-width: 512px) {
      .collections .wrapper .grid-container .item2 {
        grid-row-start: 1;
        grid-row-end: 2; } }
    @media (min-width: 0) and (max-width: 512px) {
      .collections .wrapper .grid-container .item5 {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 2;
        grid-column-end: 3; } }
    @media (min-width: 0) and (max-width: 512px) {
      .collections .wrapper .grid-container .item8 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4; } }
    @media (min-width: 0) and (max-width: 512px) {
      .collections .wrapper .grid-container .item9 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4; } }
    @media (min-width: 0) and (max-width: 512px) {
      .collections .wrapper .grid-container .item3 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5; } }
    @media (min-width: 0) and (max-width: 512px) {
      .collections .wrapper .grid-container .item4 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 5; } }
    @media (min-width: 0) and (max-width: 512px) {
      .collections .wrapper .grid-container .item6 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 5;
        grid-row-end: 6; } }
    .collections .wrapper .grid-container .item7 {
      grid-row-start: 2;
      grid-row-end: 4;
      grid-column-start: 4;
      grid-column-end: 5; }
      @media (min-width: 0) and (max-width: 512px) {
        .collections .wrapper .grid-container .item7 {
          grid-column-start: 2;
          grid-column-end: 3;
          grid-row-start: 5;
          grid-row-end: 7; } }
    .collections .wrapper .grid-container div {
      position: relative;
      text-align: center; }
      @media (min-width: 0) and (max-width: 512px) {
        .collections .wrapper .grid-container div img {
          height: 170px; } }
      @media (min-width: 0) and (max-width: 512px) {
        .collections .wrapper .grid-container div .big {
          height: 340px; } }
      .collections .wrapper .grid-container div a h3 {
        margin: 0 auto;
        width: 100%;
        font-size: 22px;
        font-weight: 200;
        color: #000;
        text-transform: uppercase;
        letter-spacing: 1px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        transition: all 0.2s; }
        @media (min-width: 0) and (max-width: 512px) {
          .collections .wrapper .grid-container div a h3 {
            height: 150px;
            font-size: 16px;
            font-weight: 400;
            transform: translateY(-10%); } }
        .collections .wrapper .grid-container div a h3:hover {
          color: #218888;
          font-size: 24px; }

.newsletter {
  text-align: center;
  margin-bottom: 50px; }
  @media (min-width: 0) and (max-width: 512px) {
    .newsletter .wrapper {
      width: 100%; } }
  .newsletter .wrapper h3 {
    font-size: 27px;
    font-weight: 300;
    margin-bottom: 5px; }
    @media (min-width: 0) and (max-width: 512px) {
      .newsletter .wrapper h3 {
        font-size: 20px;
        font-weight: 400; } }
  .newsletter .wrapper p {
    font-size: 17px;
    font-weight: 200;
    margin-bottom: 20px; }
    @media (min-width: 0) and (max-width: 512px) {
      .newsletter .wrapper p {
        font-size: 15px; } }
  .newsletter .wrapper input {
    display: inline-block;
    width: 515px;
    height: 50px;
    border: 1px solid #B6B6B6; }
    @media (min-width: 0) and (max-width: 512px) {
      .newsletter .wrapper input {
        width: 200px;
        height: 40px; } }
  .newsletter .wrapper a i {
    color: #fff;
    font-size: 50;
    background-color: #93241D;
    padding: 17px;
    vertical-align: middle;
    transition: all 0.2s; }
    @media (min-width: 0) and (max-width: 512px) {
      .newsletter .wrapper a i {
        padding: 12px; } }
    .newsletter .wrapper a i:hover {
      background-color: #a0423b;
      padding: 15px; }

.sea-collection {
  margin-bottom: 55px; }
  @media (min-width: 0) and (max-width: 512px) {
    .sea-collection {
      display: none; } }
  .sea-collection .wrapper {
    padding: 0 0 0 2%;
    position: relative; }
    .sea-collection .wrapper .slider-sea div {
      margin-right: 20px; }
      .sea-collection .wrapper .slider-sea div img {
        width: 100%; }
    .sea-collection .wrapper .info-sea {
      text-align: center;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      width: 43%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.6); }
      .sea-collection .wrapper .info-sea article {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        right: -10%;
        width: 80%; }
        .sea-collection .wrapper .info-sea article h4 {
          font-size: 30px;
          font-weight: 500;
          letter-spacing: 1px;
          margin-bottom: 10px; }
        .sea-collection .wrapper .info-sea article h5 {
          font-size: 16px;
          font-weight: 300;
          letter-spacing: 1px;
          margin-bottom: 50px; }
        .sea-collection .wrapper .info-sea article p {
          font-size: 24px;
          font-weight: 300; }

.sea-mobile {
  display: none; }
  @media (min-width: 0) and (max-width: 512px) {
    .sea-mobile .wrapper {
      width: 100%; } }
  @media (min-width: 0) and (max-width: 512px) {
    .sea-mobile .wrapper .info-sea {
      text-align: center; } }
  @media (min-width: 0) and (max-width: 512px) {
    .sea-mobile .wrapper .info-sea article h4 {
      font-size: 24px;
      font-weight: 500;
      letter-spacing: 1px;
      margin-bottom: 10px; } }
  @media (min-width: 0) and (max-width: 512px) {
    .sea-mobile .wrapper .info-sea article h5 {
      font-size: 16px;
      font-weight: 300;
      letter-spacing: 1px;
      margin-bottom: 20px; } }
  @media (min-width: 0) and (max-width: 512px) {
    .sea-mobile .wrapper .info-sea article p {
      font-size: 16px;
      font-weight: 300;
      margin-bottom: 20px; } }
  @media (min-width: 0) and (max-width: 512px) {
    .sea-mobile .wrapper .products-sea div img {
      width: 100%;
      margin-bottom: 20px; } }

.breadcrumb {
  padding: 20px 0;
  margin-left: 40px; }
  .breadcrumb .wrapper {
    width: 100%; }
    .breadcrumb .wrapper ul li {
      display: inline-block;
      font-size: 12px;
      text-transform: uppercase;
      color: #787878; }
      .breadcrumb .wrapper ul li:after {
        content: '/'; }
      .breadcrumb .wrapper ul li:last-child:after {
        display: none; }
      .breadcrumb .wrapper ul li a {
        color: #B6B6B6;
        transition: all 0.1s; }
        .breadcrumb .wrapper ul li a:hover {
          color: #787878; }

.products {
  text-align: center; }
  .products .wrapper h2 {
    margin-bottom: 10px; }
  .products .wrapper a {
    text-decoration: underline;
    color: #B6B6B6;
    font-size: 14px;
    transition: all 0.2s; }
    .products .wrapper a:hover {
      text-decoration: none;
      color: #909090; }
  .products .wrapper .flex-container {
    margin-top: 50px;
    margin-bottom: 100px;
    width: 100%; }
    @media (min-width: 0) and (max-width: 512px) {
      .products .wrapper .flex-container {
        margin-bottom: 50px; } }
    .products .wrapper .flex-container div {
      transition: all 0.2s; }
      .products .wrapper .flex-container div img {
        margin-bottom: 10px; }
        @media (min-width: 0) and (max-width: 512px) {
          .products .wrapper .flex-container div img {
            width: 300px; } }
      .products .wrapper .flex-container div h4 {
        font-weight: 600;
        font-size: 15px; }
        @media (min-width: 0) and (max-width: 512px) {
          .products .wrapper .flex-container div h4 {
            margin-bottom: 20px; } }
      .products .wrapper .flex-container div:hover {
        transform: scale(1.01) translateY(-10px); }

.future-collection {
  margin-bottom: 50px; }
  .future-collection .wrapper {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 35% 65%;
    position: relative; }
    @media (min-width: 0) and (max-width: 512px) {
      .future-collection .wrapper {
        display: block; } }
    .future-collection .wrapper .info-sea {
      position: relative;
      text-align: center; }
      @media (min-width: 0) and (max-width: 512px) {
        .future-collection .wrapper .info-sea {
          margin-bottom: 20px; } }
      .future-collection .wrapper .info-sea article {
        width: 300px;
        margin: 0 auto;
        position: relative;
        top: 50%; }
        .future-collection .wrapper .info-sea article h4 {
          text-transform: uppercase;
          font-size: 28px;
          letter-spacing: 2px;
          margin-bottom: 5px; }
          @media (min-width: 0) and (max-width: 512px) {
            .future-collection .wrapper .info-sea article h4 {
              font-size: 20px;
              font-weight: 600; } }
        .future-collection .wrapper .info-sea article h5 {
          font-size: 16px;
          letter-spacing: 3px;
          margin-bottom: 30px; }
          @media (min-width: 0) and (max-width: 512px) {
            .future-collection .wrapper .info-sea article h5 {
              font-size: 14px;
              margin-bottom: 10px; } }
        .future-collection .wrapper .info-sea article p {
          font-size: 15px;
          line-height: 20px; }
          @media (min-width: 0) and (max-width: 512px) {
            .future-collection .wrapper .info-sea article p {
              font-size: 14px; } }
    .future-collection .wrapper .slider-new {
      margin-left: 90px; }
      @media (min-width: 0) and (max-width: 512px) {
        .future-collection .wrapper .slider-new {
          margin-left: 0;
          overflow: hidden; } }
      .future-collection .wrapper .slider-new div img {
        max-width: 350px; }
        @media (min-width: 0) and (max-width: 512px) {
          .future-collection .wrapper .slider-new div img {
            max-width: 170px; } }

.products .wrapper .earth {
  margin-bottom: 30px; }
  .products .wrapper .earth p {
    color: #B6B6B6;
    font-size: 15px;
    letter-spacing: 2px; }

.products .wrapper .select-item {
  margin-bottom: 50px; }
  .products .wrapper .select-item ul {
    display: flex;
    align-items: center;
    justify-content: center; }
    .products .wrapper .select-item ul li {
      margin: 0 20px;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 1px;
      padding: 8px 20px;
      background-color: #f1f1f1;
      cursor: pointer;
      transition: all 0.2s; }
      @media (min-width: 0) and (max-width: 512px) {
        .products .wrapper .select-item ul li {
          margin: 0 5px;
          font-size: 13px;
          padding: 8px 10px; } }
      .products .wrapper .select-item ul li:hover {
        background-color: #E7E7E7; }
    .products .wrapper .select-item ul .active {
      background-color: #218888;
      color: #fff; }
      .products .wrapper .select-item ul .active:hover {
        background-color: #218888; }

.products .wrapper .flex-products {
  overflow: hidden;
  max-width: 1180px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; }
  @media (min-width: 0) and (max-width: 512px) {
    .products .wrapper .flex-products {
      grid-template-columns: 1fr;
      max-width: 100%; } }
  .products .wrapper .flex-products .product {
    margin-bottom: 50px;
    transition: all 0.2s; }
    .products .wrapper .flex-products .product:hover {
      transform: scale(1.01) translateY(-10px); }
    .products .wrapper .flex-products .product a {
      color: #000;
      text-decoration: none; }
      .products .wrapper .flex-products .product a img {
        margin-bottom: 10px; }
        @media (min-width: 0) and (max-width: 512px) {
          .products .wrapper .flex-products .product a img {
            width: 340px; } }
    .products .wrapper .flex-products .product h3 {
      margin-bottom: 5px;
      font-weight: 600;
      letter-spacing: 1px; }

.product .wrapper {
  max-width: 100%; }
  .product .wrapper .productOne {
    margin-bottom: 30px;
    display: flex;
    width: 100%; }
    @media (min-width: 0) and (max-width: 512px) {
      .product .wrapper .productOne {
        display: block;
        text-align: center; } }
    .product .wrapper .productOne .image {
      width: 50%;
      height: 50%;
      position: relative;
      margin: 0 auto; }
      @media (min-width: 0) and (max-width: 512px) {
        .product .wrapper .productOne .image {
          width: 100%; } }
      .product .wrapper .productOne .image .big {
        width: 100%; }
        @media (min-width: 0) and (max-width: 512px) {
          .product .wrapper .productOne .image .big {
            width: 350px; } }
      .product .wrapper .productOne .image ul {
        position: absolute;
        bottom: 0px;
        right: 10px; }
        .product .wrapper .productOne .image ul li {
          margin: 10px 0 10px 0;
          border: 2px solid #fff;
          font-size: 0;
          cursor: pointer;
          transition: all 0.2s; }
          .product .wrapper .productOne .image ul li:hover {
            border: 2px solid #218888; }
          .product .wrapper .productOne .image ul li img {
            width: 100px !important; }
            @media (min-width: 0) and (max-width: 512px) {
              .product .wrapper .productOne .image ul li img {
                width: 70px !important; } }
    .product .wrapper .productOne .earth-product {
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .product .wrapper .productOne .earth-product h3 {
        font-size: 25px;
        text-transform: uppercase;
        margin-bottom: 10px; }
        @media (min-width: 0) and (max-width: 512px) {
          .product .wrapper .productOne .earth-product h3 {
            margin-top: 20px; } }
      .product .wrapper .productOne .earth-product .price {
        font-size: 20px;
        margin-bottom: 70px; }
        @media (min-width: 0) and (max-width: 512px) {
          .product .wrapper .productOne .earth-product .price {
            margin-bottom: 20px; } }
      .product .wrapper .productOne .earth-product p {
        color: #909090;
        font-size: 18px;
        margin-bottom: 70px;
        margin-left: 20px; }
        @media (min-width: 0) and (max-width: 512px) {
          .product .wrapper .productOne .earth-product p {
            margin-left: 0;
            font-size: 16px;
            margin-bottom: 30px; } }
      .product .wrapper .productOne .earth-product .size {
        font-size: 18px;
        text-transform: uppercase;
        margin-bottom: 10px; }
      .product .wrapper .productOne .earth-product .size-info {
        color: #000;
        margin-bottom: 30px; }
      .product .wrapper .productOne .earth-product .basket input[type="number"] {
        padding: 12px 0;
        width: 40px; }
        @media (min-width: 0) and (max-width: 512px) {
          .product .wrapper .productOne .earth-product .basket input[type="number"] {
            padding: 11px 0; } }
  .product .wrapper hr {
    background-color: #E7E7E7;
    border: 0.5px #E7E7E7 solid; }
  .product .wrapper h5 {
    font-size: 18px;
    color: #909090;
    text-align: center;
    margin: 20px 0; }
  .product .wrapper .other-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden; }
    .product .wrapper .other-items img {
      width: 250px; }
      @media (min-width: 0) and (max-width: 512px) {
        .product .wrapper .other-items img {
          width: 170px;
          margin-bottom: 10px; } }
  .product .wrapper a {
    background-color: #000;
    color: #fff;
    margin: 20px 0;
    display: block;
    padding: 15px 0;
    max-width: 500px;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-transform: uppercase;
    font-weight: 300;
    transition: all 0.2s; }
    .product .wrapper a:hover {
      background-color: #fff;
      border: 0.5px solid #909090;
      color: #909090; }

.contact {
  height: 700px; }
  .contact .wrapper {
    text-align: center;
    width: 600px; }
    .contact .wrapper h2 {
      font-size: 25px;
      letter-spacing: 2px;
      margin-top: 50px; }
    .contact .wrapper form {
      text-align: left; }
      .contact .wrapper form label {
        margin: 50px 0 10px 0;
        display: block;
        font-size: 15px;
        text-transform: uppercase;
        color: #909090;
        font-weight: 300; }
        .contact .wrapper form label[for="topic"] {
          color: #096464;
          font-weight: 500; }
      .contact .wrapper form select {
        width: 100%;
        padding: 8px 8px;
        border: #218888 0.5px solid;
        color: #909090; }
      .contact .wrapper form .row {
        width: 100%; }
        .contact .wrapper form .row aside {
          width: calc(50% - 3px);
          display: inline-block; }
          .contact .wrapper form .row aside label {
            display: block; }
          .contact .wrapper form .row aside input {
            width: 100%;
            border: #B6B6B6 0.5px solid;
            padding: 8px 8px; }
      .contact .wrapper form textarea {
        width: 100%;
        height: 200px;
        border: #B6B6B6 0.5px solid;
        padding: 8px 8px; }
      .contact .wrapper form input[type="submit"] {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin: 30px 0 70px 0; }

.gallery {
  text-align: center; }
  @media (min-width: 0) and (max-width: 512px) {
    .gallery {
      width: 100%;
      overflow: hidden; } }
  .gallery .wrapper h2 {
    margin-top: 50px; }
  .gallery .wrapper p {
    font-size: 16px;
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 40px; }
    @media (min-width: 0) and (max-width: 512px) {
      .gallery .wrapper p {
        margin-bottom: 0; } }
  .gallery .wrapper .gallery-grid {
    text-align: left;
    max-width: 1180px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr; }
    @media (min-width: 0) and (max-width: 512px) {
      .gallery .wrapper .gallery-grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr; } }
    @media (min-width: 0) and (max-width: 512px) {
      .gallery .wrapper .gallery-grid div {
        height: 300px; } }
    .gallery .wrapper .gallery-grid div img {
      height: 387px; }
      @media (min-width: 0) and (max-width: 512px) {
        .gallery .wrapper .gallery-grid div img {
          height: 240px;
          position: relative;
          top: 50%;
          transform: translateY(-40%); } }
    @media (min-width: 0) and (max-width: 512px) {
      .gallery .wrapper .gallery-grid div img[src="img/gallery-1.jpg"] {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 2; } }
    @media (min-width: 0) and (max-width: 512px) {
      .gallery .wrapper .gallery-grid div img[src="img/gallery-2.jpg"] {
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 2; } }
    .gallery .wrapper .gallery-grid .info {
      margin-top: 40px; }
      @media (min-width: 0) and (max-width: 512px) {
        .gallery .wrapper .gallery-grid .info {
          grid-row-start: 2;
          grid-row-end: 3;
          grid-column-start: 1;
          grid-column-end: 2;
          margin-top: 0; } }
      .gallery .wrapper .gallery-grid .info p {
        line-height: 25px;
        margin-bottom: 20px;
        font-style: normal;
        width: 565px; }
        @media (min-width: 0) and (max-width: 512px) {
          .gallery .wrapper .gallery-grid .info p {
            width: 100%; } }
        .gallery .wrapper .gallery-grid .info p a {
          text-decoration: underline;
          color: #000;
          transition: all 0.2s; }
          .gallery .wrapper .gallery-grid .info p a:hover {
            font-weight: 700; }
    .gallery .wrapper .gallery-grid .engage {
      margin-top: 40px; }
      @media (min-width: 0) and (max-width: 512px) {
        .gallery .wrapper .gallery-grid .engage {
          width: 100%;
          height: 0;
          position: relative;
          top: 20%; } }
      .gallery .wrapper .gallery-grid .engage p {
        font-size: 25px;
        font-style: normal; }
        @media (min-width: 0) and (max-width: 512px) {
          .gallery .wrapper .gallery-grid .engage p {
            font-size: 30px; } }

footer {
  border-top: #E7E7E7 1px solid;
  width: 100%; }
  footer .wrapper {
    align-items: flex-start; }
    footer .wrapper div {
      margin: 20px 0; }
      footer .wrapper div ul li {
        font-size: 14px;
        color: #787878;
        font-weight: 400;
        line-height: 20px;
        transition: all 0.2s; }
        footer .wrapper div ul li:hover {
          color: #B6B6B6; }
      footer .wrapper div ul li.ttl {
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 6px; }
        footer .wrapper div ul li.ttl:hover {
          color: #787878; }
      footer .wrapper div form label {
        font-size: 14px;
        color: #787878;
        text-transform: uppercase;
        font-weight: 600;
        display: block;
        margin-bottom: 15px; }
      footer .wrapper div form input[type="text"] {
        width: 300px;
        padding: 12px 0;
        border: #B6B6B6 1px solid; }
      footer .wrapper div form input[type="submit"] {
        padding: 12px 12px;
        width: 140px;
        color: #fff;
        background-color: #096464;
        border: none;
        margin-left: 15px;
        font-size: 13px;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 2px;
        transition: all 0.2s;
        cursor: pointer; }
        @media (min-width: 0) and (max-width: 512px) {
          footer .wrapper div form input[type="submit"] {
            margin-left: 0;
            margin-top: 10px; } }
        footer .wrapper div form input[type="submit"]:hover {
          background-color: #218888; }

#login {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); }
  #login .login {
    z-index: 3;
    background-color: #fff;
    position: fixed;
    top: 30%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    border-radius: 5px;
    padding: 20px; }
    #login .login h2 {
      margin: 20px 0 10px 0;
      text-transform: uppercase;
      color: #B6B6B6;
      font-size: 15px; }
    #login .login h3 {
      margin-bottom: 40px;
      color: #787878;
      font-size: 22px; }
    #login .login form label {
      display: block;
      text-align: left;
      font-size: 14px;
      color: #000;
      margin-bottom: 5px; }
    #login .login form input {
      display: block;
      text-align: left;
      margin-bottom: 20px;
      width: 300px;
      padding: 5px 0; }
    #login .login form input[type="button"] {
      display: block;
      text-align: center;
      background-color: #93241D;
      color: #fff;
      border: none;
      border-radius: 2px;
      padding: 10px 0;
      cursor: pointer;
      transition: all 0.2s; }
      #login .login form input[type="button"]:hover {
        background-color: #a0423b; }
    #login .login form a {
      font-size: 10px;
      color: #000;
      position: absolute;
      bottom: 150px;
      left: 230px;
      transition: all 0.1s; }
      #login .login form a:hover {
        font-weight: 600; }
    #login .login p {
      text-align: left;
      font-size: 13px;
      margin-bottom: 10px; }
      #login .login p a {
        color: #000;
        font-weight: 600; }
    #login .login #exit {
      cursor: pointer;
      position: absolute;
      top: 5px;
      right: 10px;
      color: #B6B6B6; }
